
@tailwind base;
@tailwind components;
@tailwind utilities;
:root { --bg:#0b0f1a; --fg:#e5e7eb; --accent:#6ee7b7 }
html,body{height:100%}
body{ background: var(--bg); color: var(--fg) }
.container-max{ max-width: 72rem; margin: 0 auto; padding: 0 1rem }
a { color: #6ee7b7 }
